# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
14mv_draft.egg-info/

# PyInstaller
*.spec
*.exe

# JSON files (if not needed for version control)
*.json

# Temporary files
temp*.*
*.zip



Tests directory (optional, if you want to exclude test files)
tests/
